---
tags: post
date: Created
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}{% if sub-title%}: {{ sub-title }}{% endif %}</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/blog-style.css" rel="stylesheet">
    <script data-goatcounter="https://gleesonlabs.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </head>
    <header class="header">
    <div class="brand">Gleeson Labs</div>
    <nav class="topnav">
      <a href="/">Home</a>
      <span class="separator">|</span>
      <a href="/blog">Blog</a>
      <span class="separator">|</span>
      <a href="/resume">Resume</a>
      <span class="separator">|</span>
      <a href="/about">About</a>
    </nav>
  </header>
  <body>
    <section>
      <h1>{{ title }}{% if sub-title%}:<br>{{ sub-title }} {% endif %}</h1>
      <p class="creation-date">{{page.date | postDate}}</p>
      {{ content }}
    </section>
  </body>
  <footer>
    <hr>
    <p>Thanks for reading!</p>
  </footer>
</html>
